body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #555;
}

.container {
  width: 900px;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.location,
.time {
  padding: 15px;
  background-color: #e3f2fd;
  border: 1px solid #bbdefb;
  margin-bottom: 20px;
  border-radius: 5px;
  flex: 1;
  margin-right: 10px;
}

.crew-info {
  padding: 15px;
  background-color: #e8f5e9;
  border: 1px solid #c8e6c9;
  margin-bottom: 20px;
  border-radius: 5px;
  flex: 1;
}

.avatar {
  max-width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.map-wrap {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

p {
  margin: 10px 0;
  color: #666;
}
